<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Day_2_SQL_And_C_.Properties.Settings.dbStudentConnectionString"
            connectionString="Data Source=DESKTOP-DGL558B\FNB;Initial Catalog=dbStudent;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>